openapi: 3.2.0
info:
  version: v1
  title: File Upload Types API
servers:
- url: https://secure.agco-ats.com
tags:
- name: FileUploadTypes
paths:
  /api/v2/FileUploadTypes:
    get:
      tags:
      - FileUploadTypes
      summary: Get File Upload Types
      description: No Documentation Found.
      operationId: FileUploadTypes_Get
      parameters:
      - name: limit
        in: query
        description: Optional. Limit number of results returned. The default value is 10.
        required: false
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        description: Optional. Offset for the results returned. The default value is 0.
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.PagedResponse_Communication.Models.FileUploadType'
            text/json:
              schema:
                $ref: '#/components/schemas/API.PagedResponse_Communication.Models.FileUploadType'
        default:
          description: API Error Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
      deprecated: false
components:
  schemas:
    Communication.Models.FileUploadType:
      type: object
      properties:
        ID:
          description: The file upload type ID
          type: string
        Name:
          description: The name of the file upload type
          type: string
        NameStringId:
          description: The string translation id of the file upload type
          type: string
    API.PagedResponse_Communication.Models.FileUploadType:
      description: A response containing a page of results and metadata concerning the results
      required:
      - Metadata
      - Entities
      type: object
      properties:
        Metadata:
          $ref: '#/components/schemas/API.PagedResponseMetadata'
          description: Metadata about this paged response
          readOnly: true
        Entities:
          description: The set of entities that make up this page.
          type: array
          items:
            $ref: '#/components/schemas/Communication.Models.FileUploadType'
          readOnly: true
    API.PagedResponseMetadata:
      description: Metadata for the paged response
      required:
      - TotalCount
      - Limit
      - Offset
      type: object
      properties:
        TotalCount:
          format: int32
          description: The total number of entities matching the request.
          type: integer
          readOnly: true
        Limit:
          format: int32
          description: The number of entities this paged response is limited to.
          type: integer
          readOnly: true
        Offset:
          format: int32
          description: The number of entities prior to this page of items.
          type: integer
          readOnly: true
    API.Models.ApiError:
      type: object
      properties:
        DeveloperMessage:
          type: string
        UserMessage:
          type: string
        ErrorCode:
          format: int32
          type: integer
        MoreInfo:
          type: string
