openapi: 3.2.0
info:
  version: v1
  title: String Translations API
servers:
- url: https://secure.agco-ats.com
tags:
- name: StringTranslations
paths:
  /api/v2/StringTranslations:
    get:
      tags:
      - StringTranslations
      summary: Get a paged response of Global String Translations
      description: No Documentation Found.
      operationId: StringTranslations_GetTranslations
      parameters:
      - name: limit
        in: query
        description: Optional. The page limit. The default page limit is 10.
        required: false
        schema:
          type: integer
          format: int32
      - name: modifiedAfterTimestamp
        in: query
        description: Optional. Return only StringTranslation objects that have a Timestamp value greater than that provided. This will be an encoded byte array.
        required: false
        schema:
          type: string
      - name: state
        in: query
        description: Optional. Return only StringTranslation objects with a matching State.
        required: false
        schema:
          type: string
          enum:
          - Original
          - Requested
          - Processing
          - Processed
          - Validated
          - Invalidated
          - RequestPending
          - CreatePending
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.IPagedResponse_GlobalResources.Shared.Models.StringTranslation'
            text/json:
              schema:
                $ref: '#/components/schemas/API.IPagedResponse_GlobalResources.Shared.Models.StringTranslation'
            application/xml:
              schema:
                $ref: '#/components/schemas/API.IPagedResponse_GlobalResources.Shared.Models.StringTranslation'
            text/xml:
              schema:
                $ref: '#/components/schemas/API.IPagedResponse_GlobalResources.Shared.Models.StringTranslation'
        default:
          description: API Error Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
      deprecated: false
  /api/v2/StringTranslations/{stringId}/{languageId}:
    get:
      tags:
      - StringTranslations
      summary: Get a single translation based upon stringId and languageId
      description: No Documentation Found.
      operationId: StringTranslations_GetTranslation
      parameters:
      - name: stringId
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: languageId
        in: path
        description: ''
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalResources.Shared.Models.StringTranslation'
            text/json:
              schema:
                $ref: '#/components/schemas/GlobalResources.Shared.Models.StringTranslation'
            application/xml:
              schema:
                $ref: '#/components/schemas/GlobalResources.Shared.Models.StringTranslation'
            text/xml:
              schema:
                $ref: '#/components/schemas/GlobalResources.Shared.Models.StringTranslation'
        default:
          description: API Error Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
      deprecated: false
    put:
      tags:
      - StringTranslations
      summary: Update a string value or a state for a string translation
      description: No Documentation Found.
      operationId: StringTranslations_UpdateTranslation
      parameters:
      - name: stringId
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: languageId
        in: path
        description: ''
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '204':
          description: No Content
        default:
          description: API Error Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GlobalResources.Shared.Models.StringTranslation'
          text/json:
            schema:
              $ref: '#/components/schemas/GlobalResources.Shared.Models.StringTranslation'
          application/xml:
            schema:
              $ref: '#/components/schemas/GlobalResources.Shared.Models.StringTranslation'
          text/xml:
            schema:
              $ref: '#/components/schemas/GlobalResources.Shared.Models.StringTranslation'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/GlobalResources.Shared.Models.StringTranslation'
        required: true
  /api/v2/StringTranslations/Batch:
    put:
      tags:
      - StringTranslations
      summary: Update corrections to string translations
      description: No Documentation Found.
      operationId: StringTranslations_UpdateTranslations
      responses:
        '204':
          description: No Content
        default:
          description: API Error Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/GlobalResources.Shared.Models.StringTranslation'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/GlobalResources.Shared.Models.StringTranslation'
          application/xml:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/GlobalResources.Shared.Models.StringTranslation'
          text/xml:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/GlobalResources.Shared.Models.StringTranslation'
          application/x-www-form-urlencoded:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/GlobalResources.Shared.Models.StringTranslation'
        required: true
components:
  schemas:
    GlobalResources.Shared.Models.StringTranslation:
      description: A translation of a string in a specific language
      required:
      - StringValue
      type: object
      properties:
        StringValue:
          description: The translated string
          type: string
        State:
          description: The state of the translation
          enum:
          - Original
          - Requested
          - Processing
          - Processed
          - Validated
          - Invalidated
          - RequestPending
          - CreatePending
          type: string
        Timestamp:
          format: byte
          description: A value indicating the last modification of this translation. Read Only.
          type: string
        AuthorId:
          format: int32
          description: The id of the user to last edit thie translation
          type: integer
        StringId:
          description: The id of the string that is translated
          type: string
        LanguageId:
          format: int32
          description: The id of the language of the translation
          type: integer
    API.PagedResponseMetadata:
      description: Metadata for the paged response
      required:
      - TotalCount
      - Limit
      - Offset
      type: object
      properties:
        TotalCount:
          format: int32
          description: The total number of entities matching the request.
          type: integer
          readOnly: true
        Limit:
          format: int32
          description: The number of entities this paged response is limited to.
          type: integer
          readOnly: true
        Offset:
          format: int32
          description: The number of entities prior to this page of items.
          type: integer
          readOnly: true
    API.IPagedResponse_GlobalResources.Shared.Models.StringTranslation:
      type: object
      properties:
        Entities:
          type: array
          items:
            $ref: '#/components/schemas/GlobalResources.Shared.Models.StringTranslation'
          readOnly: true
        Metadata:
          $ref: '#/components/schemas/API.PagedResponseMetadata'
          readOnly: true
    API.Models.ApiError:
      type: object
      properties:
        DeveloperMessage:
          type: string
        UserMessage:
          type: string
        ErrorCode:
          format: int32
          type: integer
        MoreInfo:
          type: string
