openapi: 3.2.0
info:
  version: v1
  title: Authorization Contact Information API
servers:
- url: https://secure.agco-ats.com
tags:
- name: AuthorizationContactInformation
paths:
  /api/v2/AuthorizationContactInformation:
    get:
      tags:
      - AuthorizationContactInformation
      summary: Get contact information for authorization codes
      description: No Documentation Found.
      operationId: AuthorizationContactInformation_Get
      parameters:
      - name: limit
        in: query
        description: Optional. The page limit.  If not specified, the default page limit is 10.
        required: false
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        description: Optional. The page offset.  If not specified, the default page offset is 0.
        required: false
        schema:
          type: integer
          format: int32
      - name: authorizationCode
        in: query
        description: Optional. Search by authorization code.
        required: false
        schema:
          type: string
      - name: afterDate
        in: query
        description: Optional. Include only data for authorization codes created after a provided date.
        required: false
        schema:
          type: string
          format: date-time
      - name: beforeDate
        in: query
        description: Optional. Include only data for authorization codes created before a provided date.
        required: false
        schema:
          type: string
          format: date-time
      - name: dealerCode
        in: query
        description: Optional. Search by dealer code.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.IPagedResponse_AuthorizationCodes.Shared.Models.AuthorizationContactInformation'
            text/json:
              schema:
                $ref: '#/components/schemas/API.IPagedResponse_AuthorizationCodes.Shared.Models.AuthorizationContactInformation'
            application/xml:
              schema:
                $ref: '#/components/schemas/API.IPagedResponse_AuthorizationCodes.Shared.Models.AuthorizationContactInformation'
            text/xml:
              schema:
                $ref: '#/components/schemas/API.IPagedResponse_AuthorizationCodes.Shared.Models.AuthorizationContactInformation'
        default:
          description: API Error Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
      deprecated: false
    post:
      tags:
      - AuthorizationContactInformation
      summary: Add contact information for authorization code
      description: No Documentation Found.
      operationId: AuthorizationContactInformation_Post
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                format: int32
                type: integer
            text/json:
              schema:
                format: int32
                type: integer
            application/xml:
              schema:
                format: int32
                type: integer
            text/xml:
              schema:
                format: int32
                type: integer
        default:
          description: API Error Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorizationCodes.Shared.Models.AuthorizationContactInformation'
          text/json:
            schema:
              $ref: '#/components/schemas/AuthorizationCodes.Shared.Models.AuthorizationContactInformation'
          application/xml:
            schema:
              $ref: '#/components/schemas/AuthorizationCodes.Shared.Models.AuthorizationContactInformation'
          text/xml:
            schema:
              $ref: '#/components/schemas/AuthorizationCodes.Shared.Models.AuthorizationContactInformation'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AuthorizationCodes.Shared.Models.AuthorizationContactInformation'
        description: A contact information.
        required: true
components:
  schemas:
    API.IPagedResponse_AuthorizationCodes.Shared.Models.AuthorizationContactInformation:
      type: object
      properties:
        Entities:
          type: array
          items:
            $ref: '#/components/schemas/AuthorizationCodes.Shared.Models.AuthorizationContactInformation'
          readOnly: true
        Metadata:
          $ref: '#/components/schemas/API.PagedResponseMetadata'
          readOnly: true
    AuthorizationCodes.Shared.Models.AuthorizationContactInformation:
      required:
      - AuthorizationCodeID
      - Contact
      - Dealership
      - DealerCode
      - Phone
      type: object
      properties:
        ID:
          format: int32
          description: ID of authorizationContactInformation
          type: integer
        AuthorizationCodeID:
          format: int32
          description: AuthorizationCode ID that the contact information ties into.
          type: integer
        Contact:
          description: Name of contact requesting an authorization code. Minimum length of 3 characters.
          type: string
        Dealership:
          description: Name of dealership. Minimum length of 3 characters.
          type: string
        DealerCode:
          description: Dealer code that relates to the dealership. Minimum length of 3 characters.
          type: string
        Phone:
          description: Phone number of contact.
          type: string
        Email:
          description: Email of contact.
          type: string
        Notes:
          description: Optional notes used for internal use.
          type: string
        DefinitionName:
          description: The name of the definition used for generating this authorization code. Read Only.
          type: string
        Code:
          description: The authorization code. Read Only.
          type: string
        CreatedBy:
          description: The name of the user that created this code. Read Only.
          type: string
        CreatedDate:
          format: date-time
          description: The date the authorization code was created.
          type: string
    API.PagedResponseMetadata:
      description: Metadata for the paged response
      required:
      - TotalCount
      - Limit
      - Offset
      type: object
      properties:
        TotalCount:
          format: int32
          description: The total number of entities matching the request.
          type: integer
          readOnly: true
        Limit:
          format: int32
          description: The number of entities this paged response is limited to.
          type: integer
          readOnly: true
        Offset:
          format: int32
          description: The number of entities prior to this page of items.
          type: integer
          readOnly: true
    API.Models.ApiError:
      type: object
      properties:
        DeveloperMessage:
          type: string
        UserMessage:
          type: string
        ErrorCode:
          format: int32
          type: integer
        MoreInfo:
          type: string
