openapi: 3.2.0
info:
  version: v1
  title: Global Image Categories API
servers:
- url: https://secure.agco-ats.com
tags:
- name: GlobalImageCategories
paths:
  /api/v2/GlobalImageCategories:
    get:
      tags:
      - GlobalImageCategories
      summary: Get a paged response of file metadata
      description: No Documentation Found.
      operationId: GlobalImageCategories_GetFiles
      parameters:
      - name: limit
        in: query
        description: Optional. The page limit. The default page limit is 10.
        required: false
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        description: Optional. The page offset. The default page offset is 0.
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.IPagedResponse_GlobalResources.Shared.Models.GlobalImageCategory'
            text/json:
              schema:
                $ref: '#/components/schemas/API.IPagedResponse_GlobalResources.Shared.Models.GlobalImageCategory'
            application/xml:
              schema:
                $ref: '#/components/schemas/API.IPagedResponse_GlobalResources.Shared.Models.GlobalImageCategory'
            text/xml:
              schema:
                $ref: '#/components/schemas/API.IPagedResponse_GlobalResources.Shared.Models.GlobalImageCategory'
        default:
          description: API Error Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
      deprecated: false
    post:
      tags:
      - GlobalImageCategories
      summary: Create the metadata for a file before uploading. The State should be 'Created'
      description: No Documentation Found.
      operationId: GlobalImageCategories_PostFile
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
        default:
          description: API Error Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GlobalResources.Shared.Models.GlobalImageCategory'
          text/json:
            schema:
              $ref: '#/components/schemas/GlobalResources.Shared.Models.GlobalImageCategory'
          application/xml:
            schema:
              $ref: '#/components/schemas/GlobalResources.Shared.Models.GlobalImageCategory'
          text/xml:
            schema:
              $ref: '#/components/schemas/GlobalResources.Shared.Models.GlobalImageCategory'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/GlobalResources.Shared.Models.GlobalImageCategory'
        description: The file's metadata.
        required: true
  /api/v2/GlobalImageCategories/{ID}:
    get:
      tags:
      - GlobalImageCategories
      summary: Gets a file's metadata
      description: No Documentation Found.
      operationId: GlobalImageCategories_GetFile
      parameters:
      - name: ID
        in: path
        description: The file's id.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalResources.Shared.Models.GlobalImageCategory'
            text/json:
              schema:
                $ref: '#/components/schemas/GlobalResources.Shared.Models.GlobalImageCategory'
            application/xml:
              schema:
                $ref: '#/components/schemas/GlobalResources.Shared.Models.GlobalImageCategory'
            text/xml:
              schema:
                $ref: '#/components/schemas/GlobalResources.Shared.Models.GlobalImageCategory'
        default:
          description: API Error Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
      deprecated: false
components:
  schemas:
    API.IPagedResponse_GlobalResources.Shared.Models.GlobalImageCategory:
      type: object
      properties:
        Entities:
          type: array
          items:
            $ref: '#/components/schemas/GlobalResources.Shared.Models.GlobalImageCategory'
          readOnly: true
        Metadata:
          $ref: '#/components/schemas/API.PagedResponseMetadata'
          readOnly: true
    GlobalResources.Shared.Models.GlobalImageCategory:
      description: An image category from the Global Image library.
      required:
      - Name
      type: object
      properties:
        Id:
          description: The Id of the GlobalImage Categories.
          type: string
        Name:
          description: The name of the GlobalImage Category.
          type: string
    API.PagedResponseMetadata:
      description: Metadata for the paged response
      required:
      - TotalCount
      - Limit
      - Offset
      type: object
      properties:
        TotalCount:
          format: int32
          description: The total number of entities matching the request.
          type: integer
          readOnly: true
        Limit:
          format: int32
          description: The number of entities this paged response is limited to.
          type: integer
          readOnly: true
        Offset:
          format: int32
          description: The number of entities prior to this page of items.
          type: integer
          readOnly: true
    API.Models.ApiError:
      type: object
      properties:
        DeveloperMessage:
          type: string
        UserMessage:
          type: string
        ErrorCode:
          format: int32
          type: integer
        MoreInfo:
          type: string
