openapi: 3.2.0
info:
  version: v1
  title: File Upload Index Fields API
servers:
- url: https://secure.agco-ats.com
tags:
- name: FileUploadIndexFields
paths:
  /api/v2/FileUploadIndexFields:
    get:
      tags:
      - FileUploadIndexFields
      summary: Get File Upload Index Fields
      description: No Documentation Found.
      operationId: FileUploadIndexFields_Get
      parameters:
      - name: limit
        in: query
        description: Optional. Limit number of results returned. The default value is 10.
        required: false
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        description: Optional. Offset for the results returned. The default value is 0.
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.PagedResponse_Communication.Models.FileUploadIndexField'
            text/json:
              schema:
                $ref: '#/components/schemas/API.PagedResponse_Communication.Models.FileUploadIndexField'
        default:
          description: API Error Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
      deprecated: false
components:
  schemas:
    Communication.Models.FileUploadIndexField:
      type: object
      properties:
        Field:
          description: The name of the file upload index field
          type: string
    API.PagedResponseMetadata:
      description: Metadata for the paged response
      required:
      - TotalCount
      - Limit
      - Offset
      type: object
      properties:
        TotalCount:
          format: int32
          description: The total number of entities matching the request.
          type: integer
          readOnly: true
        Limit:
          format: int32
          description: The number of entities this paged response is limited to.
          type: integer
          readOnly: true
        Offset:
          format: int32
          description: The number of entities prior to this page of items.
          type: integer
          readOnly: true
    API.PagedResponse_Communication.Models.FileUploadIndexField:
      description: A response containing a page of results and metadata concerning the results
      required:
      - Metadata
      - Entities
      type: object
      properties:
        Metadata:
          $ref: '#/components/schemas/API.PagedResponseMetadata'
          description: Metadata about this paged response
          readOnly: true
        Entities:
          description: The set of entities that make up this page.
          type: array
          items:
            $ref: '#/components/schemas/Communication.Models.FileUploadIndexField'
          readOnly: true
    API.Models.ApiError:
      type: object
      properties:
        DeveloperMessage:
          type: string
        UserMessage:
          type: string
        ErrorCode:
          format: int32
          type: integer
        MoreInfo:
          type: string
