openapi: 3.1.0
info:
  title: AGCO AgCommand Locations Telemetry API
  description: The AGCO AgCommand API provides approved third-party developers with access to machine telemetry data from AGCO equipment. Enables building management dashboards and mobile apps that access real-time machine data including location, performance metrics, and diagnostics.
  version: '1.0'
servers:
- url: https://api.agcocorp.com
tags:
- name: Telemetry
  description: Retrieve machine telemetry and sensor data.
paths:
  /machines/{machineId}/telemetry:
    get:
      operationId: getMachineTelemetry
      summary: AGCO Get Machine Telemetry
      description: Retrieves telemetry data for a specific machine including engine hours, fuel level, speed, and diagnostic codes.
      tags:
      - Telemetry
      parameters:
      - name: machineId
        in: path
        required: true
        description: The unique machine identifier.
        schema:
          type: string
        example: example_value
      - name: startDate
        in: query
        description: Filter telemetry from this date.
        schema:
          type: string
          format: date
        example: '2025-03-15'
      - name: endDate
        in: query
        description: Filter telemetry up to this date.
        schema:
          type: string
          format: date
        example: '2025-03-15'
      responses:
        '200':
          description: Success
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: Authorization
