openapi: 3.2.0
info:
  version: v1
  title: Activity Runs API
servers:
- url: https://secure.agco-ats.com
tags:
- name: ActivityRuns
paths:
  /api/v2/activityRuns:
    get:
      tags:
      - ActivityRuns
      summary: Get ActivityRuns
      description: 'Gets a collection of ActivityRuns. When successful, the response is a PagedResponse of ActivityRuns.

        If unsuccessful, an appropriate ApiError is returned.'
      operationId: ActivityRuns_GetActivityRuns
      parameters:
      - name: limit
        in: query
        description: Optional. The page limit.  If not specified, the default page limit is 10.
        required: false
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        description: Optional. The page offset.  If not specified, the default page offset is 0.
        required: false
        schema:
          type: integer
          format: int32
      - name: status
        in: query
        description: "Optional. Filter activity runs by status.  Value should be a comma separated list of status to include.\n            If not specified, the default status filter is “InProgress”."
        required: false
        schema:
          type: string
          enum:
          - Ready
          - InProgress
          - Succeeded
          - Cancelled
          - Failed
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.PagedResponse_BuildSystem.Shared.DTO.ActivityRun'
            text/json:
              schema:
                $ref: '#/components/schemas/API.PagedResponse_BuildSystem.Shared.DTO.ActivityRun'
        default:
          description: API Error Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
      deprecated: false
  /api/v2/activityRuns/{activityRunID}:
    get:
      tags:
      - ActivityRuns
      summary: Get an ActivityRun by ID
      description: 'Gets an ActivityRun by ID. When successful, the response is the requested ActivityRun. If unsuccessful,

        an appropriate ApiError is returned.'
      operationId: ActivityRuns_GetActivityRun
      parameters:
      - name: activityRunID
        in: path
        description: The ID of the ActivityRun to get.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildSystem.Shared.DTO.ActivityRun'
            text/json:
              schema:
                $ref: '#/components/schemas/BuildSystem.Shared.DTO.ActivityRun'
            application/xml:
              schema:
                $ref: '#/components/schemas/BuildSystem.Shared.DTO.ActivityRun'
            text/xml:
              schema:
                $ref: '#/components/schemas/BuildSystem.Shared.DTO.ActivityRun'
        default:
          description: API Error Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
      deprecated: false
    put:
      tags:
      - ActivityRuns
      summary: Update an ActivityRun
      description: 'Updates the ActivityRunStatus of an ActivityRun. The body of the PUT is the updated ActivityRunStatus.

        When successful, the response is empty. If unsuccessful, an appropriate ApiError is returned.'
      operationId: ActivityRuns_PutActivityRun
      parameters:
      - name: activityRunID
        in: path
        description: The ID of the ActivityRun to update ActivityRunStatus for.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '204':
          description: No Content
        default:
          description: API Error Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BuildSystem.Shared.DTO.ActivityRun'
          text/json:
            schema:
              $ref: '#/components/schemas/BuildSystem.Shared.DTO.ActivityRun'
          application/xml:
            schema:
              $ref: '#/components/schemas/BuildSystem.Shared.DTO.ActivityRun'
          text/xml:
            schema:
              $ref: '#/components/schemas/BuildSystem.Shared.DTO.ActivityRun'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/BuildSystem.Shared.DTO.ActivityRun'
        description: The updated ActivityRun.
        required: true
  /api/v2/activityRuns/{activityRunID}/status:
    get:
      tags:
      - ActivityRuns
      summary: Get the ActivityRunStatus of an ActivityRun
      description: 'Gets the ActivityRunStatus of an ActivityRun. When successful, the response is the requested ActivityRunStatus.

        If unsuccessful, an appropriate ApiError is returned.'
      operationId: ActivityRuns_GetActivityRunStatus
      parameters:
      - name: activityRunID
        in: path
        description: The ID of the ActivityRun to get ActivityRunStatus for.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildSystem.Shared.DTO.ActivityRunStatus'
            text/json:
              schema:
                $ref: '#/components/schemas/BuildSystem.Shared.DTO.ActivityRunStatus'
            application/xml:
              schema:
                $ref: '#/components/schemas/BuildSystem.Shared.DTO.ActivityRunStatus'
            text/xml:
              schema:
                $ref: '#/components/schemas/BuildSystem.Shared.DTO.ActivityRunStatus'
        default:
          description: API Error Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            application/xml:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
            text/xml:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
      deprecated: false
    put:
      tags:
      - ActivityRuns
      summary: Update the ActivityRunStatus of an ActivityRun
      description: 'Updates the ActivityRunStatus of an ActivityRun. The body of the PUT is the updated ActivityRunStatus.

        When successful, the response is empty. If unsuccessful, an appropriate ApiError is returned.'
      operationId: ActivityRuns_PutActivityRunStatus
      parameters:
      - name: activityRunID
        in: path
        description: The ID of the ActivityRun to update ActivityRunStatus for.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '204':
          description: No Content
        default:
          description: API Error Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API.Models.ApiError'
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BuildSystem.Shared.DTO.ActivityRunStatus'
          text/json:
            schema:
              $ref: '#/components/schemas/BuildSystem.Shared.DTO.ActivityRunStatus'
          application/xml:
            schema:
              $ref: '#/components/schemas/BuildSystem.Shared.DTO.ActivityRunStatus'
          text/xml:
            schema:
              $ref: '#/components/schemas/BuildSystem.Shared.DTO.ActivityRunStatus'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/BuildSystem.Shared.DTO.ActivityRunStatus'
        description: The updated ActivityRunStatus.
        required: true
components:
  schemas:
    BuildSystem.Shared.DTO.ActivityRun:
      description: A DTO for an IActivityRun
      required:
      - Status
      type: object
      properties:
        ActivityRunID:
          format: int32
          description: The identifier for the ActivityRun
          type: integer
        JobActivityID:
          format: int32
          description: Read Only. The ID of the Job Activity that defines this activity run
          type: integer
        JobRunID:
          format: int32
          description: Read Only. The ID of the JobRun under which this ActivityRun is executing
          type: integer
        Parameters:
          description: The parameters used for this run of the activity.  Parameters cannot be added or removed, but output parameter values may be updated.
          type: array
          items:
            $ref: '#/components/schemas/BuildSystem.Shared.DTO.ParameterValue'
          readOnly: true
        Status:
          $ref: '#/components/schemas/BuildSystem.Shared.DTO.ActivityRunStatus'
          description: The status of this ActivityRun
        Steps:
          description: Read Only. The steps to be executed for the activity.  These steps come from the relationship through JobActivity down to ActivityStep
          type: array
          items:
            $ref: '#/components/schemas/BuildSystem.Shared.DTO.ActivityStep'
          readOnly: true
        StartDate:
          format: date-time
          description: Read Only. The UTC date and time when the activity started
          type: string
        EndDate:
          format: date-time
          description: Read Only. The UTC date and time when the activity completed
          type: string
    API.PagedResponse_BuildSystem.Shared.DTO.ActivityRun:
      description: A response containing a page of results and metadata concerning the results
      required:
      - Metadata
      - Entities
      type: object
      properties:
        Metadata:
          $ref: '#/components/schemas/API.PagedResponseMetadata'
          description: Metadata about this paged response
          readOnly: true
        Entities:
          description: The set of entities that make up this page.
          type: array
          items:
            $ref: '#/components/schemas/BuildSystem.Shared.DTO.ActivityRun'
          readOnly: true
    BuildSystem.Shared.DTO.ParameterMapping:
      description: A DTO for an IParameterMapping
      type: object
      properties:
        Name:
          description: The name of the parameter this mapping applies to
          type: string
        SourceType:
          description: The source type used for supplying the parameter
          enum:
          - Constant
          - Variable
          type: string
        Source:
          description: The source of the value.  The meaning of this value is determined by the source type.  When the source type is “Constant” then source is the value formatted as a string.  When the source type is “Variable” then the source is the name of the variable
          type: string
    BuildSystem.Shared.DTO.ActivityStep:
      description: A DTO for an IActivityStep
      type: object
      properties:
        ActivityStepID:
          format: int32
          description: The id of this activity step
          type: integer
        ActivityID:
          format: int32
          description: The id of the activity this activity step belongs to
          type: integer
        StepID:
          format: int32
          description: The id of the step
          type: integer
        RunOrder:
          format: int32
          description: The order of this activity step relative to other activity steps
          type: integer
        UseConfig:
          description: Indicates the configuration for the ActivityStep to use at runtime.  The build agent must provide this configuration
          type: string
        StepName:
          description: The name of the step
          type: string
        ImplementationID:
          description: The implementation id which is used to look up the step implementation
          type: string
        ParameterMappings:
          description: The mapping of values from a source to be used for the step parameters
          type: array
          items:
            $ref: '#/components/schemas/BuildSystem.Shared.DTO.ParameterMapping'
          readOnly: true
    API.PagedResponseMetadata:
      description: Metadata for the paged response
      required:
      - TotalCount
      - Limit
      - Offset
      type: object
      properties:
        TotalCount:
          format: int32
          description: The total number of entities matching the request.
          type: integer
          readOnly: true
        Limit:
          format: int32
          description: The number of entities this paged response is limited to.
          type: integer
          readOnly: true
        Offset:
          format: int32
          description: The number of entities prior to this page of items.
          type: integer
          readOnly: true
    API.Models.ApiError:
      type: object
      properties:
        DeveloperMessage:
          type: string
        UserMessage:
          type: string
        ErrorCode:
          format: int32
          type: integer
        MoreInfo:
          type: string
    BuildSystem.Shared.DTO.ParameterValue:
      description: A DTO for an IParameterValue
      type: object
      properties:
        Name:
          description: The name of the parameter this value is for
          type: string
        Value:
          description: The parameter value in string representation
          type: string
        Direction:
          description: The parameter direction (Input or Output)
          enum:
          - Input
          - Output
          type: string
    BuildSystem.Shared.DTO.ActivityRunStatus:
      description: A DTO for an IActivityRunStatus
      type: object
      properties:
        Status:
          description: The status of the ActivityRun
          enum:
          - Ready
          - InProgress
          - Succeeded
          - Cancelled
          - Failed
          type: string
        CurrentStep:
          format: int32
          description: The activity step currently executing, indicated by numeric order
          type: integer
        StepStatus:
          description: The status text from the currently executing step
          type: string
        StepProgress:
          format: int32
          description: The percent progress from the currently executing step.  This value shall be null if progress is not available
          type: integer
