{"swagger":"2.0","info":{"version":"v1","title":"API"},"host":"secure.agco-ats.com","schemes":["https"],"paths":{"/api/v2/activities":{"get":{"tags":["Activities"],"summary":"Get Activities","description":"Gets a collection of Activities. When successful, the response is a PagedResponse of Activities.  \r\n            If unsuccessful, an appropriate ApiError is returned.","operationId":"Activities_GetActivities","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"limit","in":"query","description":"Optional. The page limit.  If not specified, the default page limit is 10.","required":false,"type":"integer","format":"int32"},{"name":"offset","in":"query","description":"Optional. The page offset.  If not specified, the default page offset is 0.","required":false,"type":"integer","format":"int32"},{"name":"isIncludeDeleted","in":"query","description":"Does it include deleted activity, or not","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/API.PagedResponse[BuildSystem.Shared.DTO.Activity]"}},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false},"post":{"tags":["Activities"],"summary":"Create an Activity","description":"Creates an Activity.  The body of the POST is the Activity to create.  The ActivityID will be assigned\r\n            on creation of the Activity.  When successful, the response is the ActivityID.  If unsuccessful, an \r\n            appropriate ApiError is returned.","operationId":"Activities_PostActivity","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"activity","in":"body","description":"The activity to create.  The ActivityID will be assigned on creation of the Activity.","required":true,"schema":{"$ref":"#/definitions/BuildSystem.Shared.DTO.Activity"}}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false}},"/api/v2/activities/{activityID}":{"get":{"tags":["Activities"],"summary":"Get an Activity by ID","description":"Gets an Activity by ID. When successful, the response is the requested Activity.  If unsuccessful,\r\n            an appropriate ApiError is returned.","operationId":"Activities_GetActivity","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"activityID","in":"path","description":"The ID of the Activity to get.","required":true,"type":"integer","format":"int32"},{"name":"isIncludeDeleted","in":"query","description":"Does it include deleted activity, or not","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BuildSystem.Shared.DTO.Activity"}},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false},"put":{"tags":["Activities"],"summary":"Update an Activity","description":"Updates an Activity.  The body of the PUT is the updated Activity.  When successful, the response is empty.\r\n            If unsuccessful, an appropriate ApiError is returned.","operationId":"Activities_PutActivity","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":[],"parameters":[{"name":"activityID","in":"path","description":"The id of the activity to update","required":true,"type":"integer","format":"int32"},{"name":"activity","in":"body","description":"The updated activity","required":true,"schema":{"$ref":"#/definitions/BuildSystem.Shared.DTO.Activity"}}],"responses":{"204":{"description":"No Content"},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false},"delete":{"tags":["Activities"],"summary":"Mark the delete flag for the Activity","description":"Deletes an Activity. When successful, the response is empty.  If unsuccessful, an appropriate\r\n            ApiError is returned.","operationId":"Activities_DeleteActivity","consumes":[],"produces":[],"parameters":[{"name":"activityID","in":"path","description":"The id of the activity to delete","required":true,"type":"integer","format":"int32"}],"responses":{"204":{"description":"No Content"},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false}},"/api/v2/activityRuns":{"get":{"tags":["ActivityRuns"],"summary":"Get ActivityRuns","description":"Gets a collection of ActivityRuns. When successful, the response is a PagedResponse of ActivityRuns.  \r\n            If unsuccessful, an appropriate ApiError is returned.","operationId":"ActivityRuns_GetActivityRuns","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"limit","in":"query","description":"Optional. The page limit.  If not specified, the default page limit is 10.","required":false,"type":"integer","format":"int32"},{"name":"offset","in":"query","description":"Optional. The page offset.  If not specified, the default page offset is 0.","required":false,"type":"integer","format":"int32"},{"name":"status","in":"query","description":"Optional. Filter activity runs by status.  Value should be a comma separated list of status to include.\r\n            If not specified, the default status filter is “InProgress”.","required":false,"type":"string","enum":["Ready","InProgress","Succeeded","Cancelled","Failed"]}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/API.PagedResponse[BuildSystem.Shared.DTO.ActivityRun]"}},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false}},"/api/v2/activityRuns/{activityRunID}":{"get":{"tags":["ActivityRuns"],"summary":"Get an ActivityRun by ID","description":"Gets an ActivityRun by ID. When successful, the response is the requested ActivityRun.  If unsuccessful,\r\n            an appropriate ApiError is returned.","operationId":"ActivityRuns_GetActivityRun","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"activityRunID","in":"path","description":"The ID of the ActivityRun to get.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BuildSystem.Shared.DTO.ActivityRun"}},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false},"put":{"tags":["ActivityRuns"],"summary":"Update an ActivityRun","description":"Updates the ActivityRunStatus of an ActivityRun.  The body of the PUT is the updated ActivityRunStatus.\r\n            When successful, the response is empty.  If unsuccessful, an appropriate ApiError is returned.","operationId":"ActivityRuns_PutActivityRun","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":[],"parameters":[{"name":"activityRunID","in":"path","description":"The ID of the ActivityRun to update ActivityRunStatus for.","required":true,"type":"integer","format":"int32"},{"name":"activityRun","in":"body","description":"The updated ActivityRun.","required":true,"schema":{"$ref":"#/definitions/BuildSystem.Shared.DTO.ActivityRun"}}],"responses":{"204":{"description":"No Content"},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false}},"/api/v2/activityRuns/{activityRunID}/status":{"get":{"tags":["ActivityRuns"],"summary":"Get the ActivityRunStatus of an ActivityRun","description":"Gets the ActivityRunStatus of an ActivityRun.  When successful, the response is the requested ActivityRunStatus.\r\n            If unsuccessful, an appropriate ApiError is returned.","operationId":"ActivityRuns_GetActivityRunStatus","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"activityRunID","in":"path","description":"The ID of the ActivityRun to get ActivityRunStatus for.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BuildSystem.Shared.DTO.ActivityRunStatus"}},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false},"put":{"tags":["ActivityRuns"],"summary":"Update the ActivityRunStatus of an ActivityRun","description":"Updates the ActivityRunStatus of an ActivityRun.  The body of the PUT is the updated ActivityRunStatus.\r\n            When successful, the response is empty.  If unsuccessful, an appropriate ApiError is returned.","operationId":"ActivityRuns_PutActivityRunStatus","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":[],"parameters":[{"name":"activityRunID","in":"path","description":"The ID of the ActivityRun to update ActivityRunStatus for.","required":true,"type":"integer","format":"int32"},{"name":"activityRunStatus","in":"body","description":"The updated ActivityRunStatus.","required":true,"schema":{"$ref":"#/definitions/BuildSystem.Shared.DTO.ActivityRunStatus"}}],"responses":{"204":{"description":"No Content"},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false}},"/api/v2/AftermarketServices/Certificates":{"get":{"tags":["AftermarketServices"],"summary":"No Documentation Found.","description":"No Documentation Found.","operationId":"AftermarketServices_GetCerts","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/System.Object"}},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false}},"/api/v2/AftermarketServices/ECUs/{serialNumber}":{"put":{"tags":["AftermarketServices"],"summary":"Activate or Deactivate an ECU, or Report an ECU as Damaged.","description":"No Documentation Found.","operationId":"AftermarketServices_PutECU","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"serialNumber","in":"path","description":"The serial number of the ECU.","required":true,"type":"string"},{"name":"ECU","in":"body","description":"The ecu to modify.","required":true,"schema":{"$ref":"#/definitions/AGCOPowerServices.Models.ECU"}},{"name":"EDTInstanceId","in":"query","description":"The EDT Instance Id of the kit calling this method.","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AGCOPowerServices.Models.ECU"}},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false}},"/api/v2/AftermarketServices/Engines/{serialNumber}/ProductionData":{"get":{"tags":["AftermarketServices"],"summary":"Get production calibration data for given engine.","description":"No Documentation Found.","operationId":"AftermarketServices_GetProductionData","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"serialNumber","in":"path","description":"The serial number of the engine.","required":true,"type":"string"},{"name":"EDTInstanceId","in":"query","description":"The EDT Instance Id of the kit calling this method.","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/AGCOPowerServices.Models.ProductionData"}}},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false}},"/api/v2/AftermarketServices/Engines/{serialNumber}/IQACodes":{"get":{"tags":["AftermarketServices"],"summary":"Get injector codes given engine.","description":"No Documentation Found.","operationId":"AftermarketServices_GetEngineIQACodes","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"serialNumber","in":"path","description":"The serial number of the engine.","required":true,"type":"string"},{"name":"EDTInstanceId","in":"query","description":"The EDT Instance Id of the kit calling this method.","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"string"}}},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false},"put":{"tags":["AftermarketServices"],"summary":"Report the IQA codes used by an engine","description":"No Documentation Found.","operationId":"AftermarketServices_PutIQACodes","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"serialNumber","in":"path","description":"The serial number of the Engine","required":true,"type":"string"},{"name":"IQACodes","in":"body","description":"A string array of IQA codes in physical order","required":true,"schema":{"type":"array","items":{"type":"string"}}},{"name":"EDTInstanceId","in":"query","description":"The EDT Instance Id of the kit calling this method.","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false}},"/api/v2/AftermarketServices/UserStatuses":{"get":{"tags":["AftermarketServices"],"summary":"Retrieve the status of an EDT Kit Registration with AGCO Power Web Services","description":"No Documentation Found.","operationId":"AftermarketServices_GetUserStatus","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"voucherCode","in":"query","required":true,"type":"string"},{"name":"dealerCode","in":"query","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AGCOPowerServices.Models.UserStatus"}},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false},"put":{"tags":["AftermarketServices"],"summary":"Update the status of an EDT Kit Registration with AGCO Power Web Services","description":"No Documentation Found.","operationId":"AftermarketServices_UpdateUserStatus","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"userStatus","in":"body","required":true,"schema":{"$ref":"#/definitions/AGCOPowerServices.Models.UserStatus"}}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false}},"/api/v2/AftermarketServices/Hello":{"get":{"tags":["AftermarketServices"],"summary":"Check whether there is connectivity to AGCO Power Web Services","description":"No Documentation Found.","operationId":"AftermarketServices_GetConnectionStatus","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false}},"/api/v2/agents":{"get":{"tags":["Agents"],"summary":"Get Agents","description":"Gets a collection of Agents. When successful, the response is a PagedResponse of Agents.  \r\n            If unsuccessful, an appropriate ApiError is returned.","operationId":"Agents_GetAgents","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"limit","in":"query","description":"Optional. The page limit.  If not specified, the default page limit is 10.","required":false,"type":"integer","format":"int32"},{"name":"offset","in":"query","description":"Optional. The page offset.  If not specified, the default page offset is 0.","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/API.PagedResponse[BuildSystem.Shared.DTO.Agent]"}},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false},"post":{"tags":["Agents"],"summary":"Create an Agent","description":"Creates an Agent.  The body of the POST is the Agent to create.  The AgentID will be assigned\r\n            on creation of the Agent.  When successful, the response is the AgentID.  If unsuccessful, an\r\n            appropriate ApiError is returned.","operationId":"Agents_PostAgent","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"agent","in":"body","description":"The Agent to create.  The AgentID will be assigned on creation of the Agent.","required":true,"schema":{"$ref":"#/definitions/BuildSystem.Shared.DTO.Agent"}}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false}},"/api/v2/agents/{agentID}":{"get":{"tags":["Agents"],"summary":"Get Agent","description":"Gets an Agent by ID. When successful, the response is the requested Agent.  If unsuccessful,\r\n            an appropriate ApiError is returned.","operationId":"Agents_GetAgentAsync","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"agentID","in":"path","description":"The id of the Agent to get.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BuildSystem.Shared.DTO.Agent"}},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false},"put":{"tags":["Agents"],"summary":"Update an Agent","description":"Updates an Agent.  The body of the PUT is the updated Agent.  When successful, the response is empty.\r\n            If unsuccessful, an appropriate ApiError is returned.","operationId":"Agents_PutAgent","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":[],"parameters":[{"name":"agentID","in":"path","description":"The id of the Agent to update.","required":true,"type":"integer","format":"int32"},{"name":"agent","in":"body","description":"The updated Agent","required":true,"schema":{"$ref":"#/definitions/BuildSystem.Shared.DTO.Agent"}}],"responses":{"204":{"description":"No Content"},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false},"delete":{"tags":["Agents"],"summary":"Delete an Agent","description":"Deletes an Agent. When successful, the response is empty.  If unsuccessful, an appropriate\r\n            ApiError is returned.","operationId":"Agents_DeleteAgent","consumes":[],"produces":[],"parameters":[{"name":"agentID","in":"path","description":"The id of the Agent to delete.","required":true,"type":"integer","format":"int32"}],"responses":{"204":{"description":"No Content"},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false}},"/api/v2/agents/Current":{"get":{"tags":["Agents"],"summary":"Get Agent associated with the current user","description":"Gets the Agent associated with the current user. When successful, the response is the requested Agent.  If unsuccessful,\r\n            an appropriate ApiError is returned.","operationId":"Agents_GetCurrentAgentAsync","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BuildSystem.Shared.DTO.Agent"}},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false}},"/api/v2/agents/{agentID}/ActivityRun":{"get":{"tags":["Agents"],"summary":"Get an Agent's ActivityRun","description":"Gets the activity run assigned to an agent.  When successful, the response is the ActivityRun\r\n            assigned to the Agent.  If unsuccessful, an appropriate ApiError is returned.","operationId":"Agents_GetAgentActivityRun","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"agentID","in":"path","description":"The id of the Agent to get.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BuildSystem.Shared.DTO.ActivityRun"}},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false},"put":{"tags":["Agents"],"summary":"Update the ActivityRun assigned to the Agent.","description":"No Documentation Found.","operationId":"Agents_PutAgentActivityRun","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":[],"parameters":[{"name":"agentID","in":"path","description":"The id of the Agent to update.","required":true,"type":"integer","format":"int32"},{"name":"activityRun","in":"body","description":"The ActivityRun assigned to the agent.  Only the ActivityRunID is used.","required":true,"schema":{"$ref":"#/definitions/BuildSystem.Shared.DTO.ActivityRun"}}],"responses":{"204":{"description":"No Content"},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false}},"/api/v2/agents/Current/ActivityRun":{"get":{"tags":["Agents"],"summary":"Get the ActivityRun of Agent associated with the current user","description":"Gets the activity run assigned to an agent.  When successful, the response is the ActivityRun\r\n            assigned to the Agent.  If unsuccessful, an appropriate ApiError is returned.","operationId":"Agents_GetCurrentAgentActivityRun","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BuildSystem.Shared.DTO.ActivityRun"}},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false}},"/api/v2/agents/{agentID}/Status":{"put":{"tags":["Agents"],"summary":"Update an Agent","description":"Updates the status of an Agent.The body of the PUT is the updated Agent status.  When successful,\r\n            the response is empty.If unsuccessful, an appropriate ApiError is returned.","operationId":"Agents_PutAgentStatus","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":[],"parameters":[{"name":"agentID","in":"path","description":"The id of the Agent to update.","required":true,"type":"integer","format":"int32"},{"name":"agentStatus","in":"body","description":"The updated AgentStatus.","required":true,"schema":{"$ref":"#/definitions/BuildSystem.Shared.DTO.AgentStatus"}}],"responses":{"204":{"description":"No Content"},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false}},"/api/v2/AuthenticatedUsers/{UserID}/Tokens":{"put":{"tags":["Authentication"],"summary":"Manage API tokens.","description":"No Documentation Found.","operationId":"Authentication_PutManageTokens","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":[],"parameters":[{"name":"UserID","in":"path","required":true,"type":"integer","format":"int32"},{"name":"tokenOptions","in":"body","description":"The options for token management.","required":true,"schema":{"$ref":"#/definitions/API.Models.TokenOptions"}}],"responses":{"204":{"description":"No Content"}},"deprecated":false}},"/api/v2/Authentication":{"post":{"tags":["Authentication"],"summary":"Authenticate a user.","description":"No Documentation Found.","operationId":"Authentication_Default","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"credentials","in":"body","description":"Create a user account.","required":true,"schema":{"$ref":"#/definitions/API.Models.Credentials"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/API.Models.AuthenticatedUser"}}},"deprecated":false}},"/api/v2/Authentication/IsAlive":{"get":{"tags":["Authentication"],"summary":"Acknowledges the connection to the API","description":"No Documentation Found.","operationId":"Authentication_IsAlive","consumes":[],"produces":[],"responses":{"204":{"description":"No Content"}},"deprecated":false}},"/api/v2/Authentication/RequestPasswordReset":{"post":{"tags":["Authentication"],"summary":"Request a password reset.","description":"No Documentation Found.","operationId":"Authentication_RequestPasswordReset","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":[],"parameters":[{"name":"passwordResetRequest","in":"body","description":"The password reset request.","required":true,"schema":{"$ref":"#/definitions/API.Models.PasswordResetRequest"}}],"responses":{"204":{"description":"No Content"}},"deprecated":false}},"/api/v2/Authentication/ResetPasword":{"post":{"tags":["Authentication"],"summary":"Reset a password","description":"No Documentation Found.","operationId":"Authentication_ResetPasword","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":[],"parameters":[{"name":"passwordReset","in":"body","description":"The password reset detail.","required":true,"schema":{"$ref":"#/definitions/API.Models.PasswordReset"}}],"responses":{"204":{"description":"No Content"}},"deprecated":false}},"/api/v2/Authentication/OAuthRedirect":{"get":{"tags":["Authentication"],"summary":"Redirect to OIDC provider with configured and provided query parameters.","description":"Authentication required if not a known host. PKCE required if not a known host or if using response_mode=fragment.","operationId":"Authentication_OAuthRedirect","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"redirectUri","in":"query","description":"URI of target application to which to redirect once logged in to OIDC.","required":true,"type":"string"},{"name":"code_challenge","in":"query","description":"Value used PKCE to prevent abuse of authorization code.","required":false,"type":"string"},{"name":"code_challenge_method","in":"query","description":"Used for PKCE. Method used to compute code_challenge from code_verifier. Supported values: 'S256'.","required":false,"type":"string"},{"name":"response_mode","in":"query","description":"Optional. Location in redirect uri to place the authorization code. Supported values: 'fragment' and code'.","required":false,"type":"string"},{"name":"prompt","in":"query","description":"Optional. Supported values: 'none', 'consent', 'select_account', and 'login'.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/System.Object"}}},"deprecated":false}},"/api/v2/Authentication/OAuthCallback":{"get":{"tags":["Authentication"],"summary":"Provided as \"redirectUri\" query parameter when redirecting to OIDC provider.","description":"No Documentation Found.","operationId":"Authentication_OAuthCallback","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"code","in":"query","description":"Authorization code to be exchanged for an access token.","required":false,"type":"string"},{"name":"state","in":"query","description":"Copy of the state parameter sent to the OIDC provider.","required":false,"type":"string"},{"name":"error","in":"query","description":"Conditionally provided by OIDC provider in case of error.","required":false,"type":"string"},{"name":"error_description","in":"query","description":"Conditionally provided by OIDC provider in case of error.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/System.Object"}}},"deprecated":false}},"/api/v2/Authentication/OAuthUser":{"post":{"tags":["Authentication"],"summary":"Login using OpenID.","description":"Exchange an either an authorization code or a refresh token for an access token. Usage of refresh token requires authentication.","operationId":"Authentication_OAuthUser","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"tokenParams","in":"body","description":"Either 'code'  or 'refresh_token' is required.","required":true,"schema":{"$ref":"#/definitions/API.Models.OAuthTokenParams"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/API.Models.AuthenticatedUser"}}},"deprecated":false}},"/api/v2/Authentication/OAuthCertificate":{"get":{"tags":["Authentication"],"summary":"Retrieve the certificate used for OAuth Client Authentication.","description":"No Documentation Found.","operationId":"Authentication_OAuthCertificate","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"download","in":"query","description":"True to download as a .cer file. Returns certificate properties by default.","required":false,"type":"boolean"},{"name":"auth_verifier","in":"query","description":"Internal use.","required":false,"type":"string"},{"name":"auth_verifier_ms","in":"query","description":"Internal use.","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/System.Object"}}},"deprecated":false}},"/api/v2/AuthorizationCategories":{"get":{"tags":["AuthorizationCategories"],"summary":"Get authorization categories.","description":"No Documentation Found.","operationId":"AuthorizationCategories_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"limit","in":"query","description":"Optional. The page limit.  If not specified, the default page limit is 10.","required":false,"type":"integer","format":"int32"},{"name":"offset","in":"query","description":"Optional. The page offset.  If not specified, the default page offset is 0.","required":false,"type":"integer","format":"int32"},{"name":"userID","in":"query","description":"Optional. Filter by categories visible to the provided user with the provided userID.","required":false,"type":"integer","format":"int32"},{"name":"definitionID","in":"query","description":"Optional. Filter by categories containing a definition with the provided ID.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/API.IPagedResponse[AuthorizationCodes.Shared.Models.Category]"}},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false},"post":{"tags":["AuthorizationCategories"],"summary":"Add an authorization category.","description":"No Documentation Found.","operationId":"AuthorizationCategories_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"category","in":"body","description":"An authorization category.","required":true,"schema":{"$ref":"#/definitions/AuthorizationCodes.Shared.Models.Category"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false}},"/api/v2/AuthorizationCategories/{id}":{"put":{"tags":["AuthorizationCategories"],"summary":"Update an authorization category.","description":"No Documentation Found.","operationId":"AuthorizationCategories_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":[],"parameters":[{"name":"id","in":"path","required":true,"type":"string"},{"name":"category","in":"body","description":"An authorization category.","required":true,"schema":{"$ref":"#/definitions/AuthorizationCodes.Shared.Models.Category"}}],"responses":{"204":{"description":"No Content"},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false},"delete":{"tags":["AuthorizationCategories"],"summary":"Remove an authorization category.","description":"No Documentation Found.","operationId":"AuthorizationCategories_Delete","consumes":[],"produces":[],"parameters":[{"name":"id","in":"path","description":"The ID of the authorization category.","required":true,"type":"string"}],"responses":{"204":{"description":"No Content"},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false}},"/api/v2/AuthorizationCategories/{id}/Users/{userID}":{"post":{"tags":["AuthorizationCategories"],"summary":"Add a category that a user can see.","description":"No Documentation Found.","operationId":"AuthorizationCategories_AddUser","consumes":[],"produces":[],"parameters":[{"name":"id","in":"path","description":"","required":true,"type":"string"},{"name":"userID","in":"path","description":"","required":true,"type":"integer","format":"int32"}],"responses":{"204":{"description":"No Content"},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false},"delete":{"tags":["AuthorizationCategories"],"summary":"Deletes a category a user could see.","description":"No Documentation Found.","operationId":"AuthorizationCategories_RemoveUser","consumes":[],"produces":[],"parameters":[{"name":"id","in":"path","description":"","required":true,"type":"string"},{"name":"userID","in":"path","description":"","required":true,"type":"integer","format":"int32"}],"responses":{"204":{"description":"No Content"},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false}},"/api/v2/AuthorizationCategories/Users":{"get":{"tags":["AuthorizationCategories"],"summary":"Returns a report of access that users have to Authorization Categories.","description":"No Documentation Found.","operationId":"AuthorizationCategories_GetUsers","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"limit","in":"query","description":"Optional. Defaults to 10.","required":false,"type":"integer","format":"int32"},{"name":"offset","in":"query","description":"Optional. Defaults to 0.","required":false,"type":"integer","format":"int32"},{"name":"userIDs","in":"query","description":"Optional. Includes only users with IDs on the provided comma-separated list.","required":false,"type":"string"},{"name":"categoryIDs","in":"query","description":"Optional. Includes only users with categories with IDs on the provided comma-separated list.","required":false,"type":"string"},{"name":"includeCategories","in":"query","description":"If true, include full Authorization Category detail. Defaults to false.","required":false,"type":"boolean"},{"name":"includeUsers","in":"query","description":"If true, include full User detail. Defaults to false.","required":false,"type":"boolean"},{"name":"userSearch","in":"query","description":"Optional. Includes only users with a Name, Username, or Email containing the provided value.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/API.IPagedResponse[AuthorizationCodes.Shared.Models.CategoryUserReport]"}},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false}},"/api/v2/AuthorizationCodeDefinitions":{"get":{"tags":["AuthorizationCodeDefinitions"],"summary":"Get authorization code definitions.","description":"Additional searches: validationFields[Name]=true and dataFields[Name]=true. These can be used to search for authorization code definitions that have the specified data or validation fields.","operationId":"AuthorizationCodeDefinitions_GetAuthorizationCodeDefinition","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"limit","in":"query","description":"Optional. The page limit.  If not specified, the default page limit is 10.","required":false,"type":"integer","format":"int32"},{"name":"offset","in":"query","description":"Optional. The page offset.  If not specified, the default page offset is 0.","required":false,"type":"integer","format":"int32"},{"name":"name","in":"query","description":"Optional. If specified, filters definitions by name. Starting and ending wildcards (*) supported.","required":false,"type":"string"},{"name":"createdByUserID","in":"query","description":"Optional. If specified, filters definitions to those created by the given User ID.","required":false,"type":"integer","format":"int32"},{"name":"deletedByUserID","in":"query","description":"Optional. If specified, filters definitions to those deleted by the given User ID.","required":false,"type":"integer","format":"int32"},{"name":"includeDeleted","in":"query","description":"Optional. Whether to include deleted definitions. 'False' by default.","required":false,"type":"boolean"},{"name":"categoryID","in":"query","description":"Optional. If specified, filters definitions with the designated categoryID.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/API.IPagedResponse[AuthorizationCodes.Shared.Models.AuthorizationCodeDefinition]"}},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false},"post":{"tags":["AuthorizationCodeDefinitions"],"summary":"Add an authorization code definition.","description":"No Documentation Found.","operationId":"AuthorizationCodeDefinitions_PostAuthorizationCodeDefinition","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"authorizationCodeDefinition","in":"body","description":"An authorization code definition.","required":true,"schema":{"$ref":"#/definitions/AuthorizationCodes.Shared.Models.AuthorizationCodeDefinition"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false}},"/api/v2/AuthorizationCodeDefinitions/{id}":{"get":{"tags":["AuthorizationCodeDefinitions"],"summary":"Get an authorization code definition by its ID","description":"No Documentation Found.","operationId":"AuthorizationCodeDefinitions_GetAuthorizationCodeDefinition","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"The ID of the authorization code definition.","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AuthorizationCodes.Shared.Models.AuthorizationCodeDefinition"}},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false},"put":{"tags":["AuthorizationCodeDefinitions"],"summary":"Update an authorization code definition","description":"No Documentation Found.","operationId":"AuthorizationCodeDefinitions_PutAuthorizationCodeDefinition","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":[],"parameters":[{"name":"id","in":"path","description":"The ID of the authorization code definition.","required":true,"type":"string"},{"name":"authorizationCodeDefinition","in":"body","description":"An authorization code definition.","required":true,"schema":{"$ref":"#/definitions/AuthorizationCodes.Shared.Models.AuthorizationCodeDefinition"}}],"responses":{"204":{"description":"No Content"},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false},"delete":{"tags":["AuthorizationCodeDefinitions"],"summary":"Disable an authorization code definition","description":"No Documentation Found.","operationId":"AuthorizationCodeDefinitions_DeleteAuthorizationCodeDefinition","consumes":[],"produces":[],"parameters":[{"name":"id","in":"path","description":"The ID of the authorization code definition.","required":true,"type":"string"}],"responses":{"204":{"description":"No Content"},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false}},"/api/v2/AuthorizationCodeDefinitions/{ID}/Categories/{categoryID}":{"post":{"tags":["AuthorizationCodeDefinitions"],"summary":"Add a category to an authorizationCodeDefintion.","description":"No Documentation Found.","operationId":"AuthorizationCodeDefinitions_AddCategoryToDefinition","consumes":[],"produces":[],"parameters":[{"name":"ID","in":"path","required":true,"type":"string"},{"name":"categoryID","in":"path","description":"A category ID, as a GUID.","required":true,"type":"string"}],"responses":{"204":{"description":"No Content"},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false},"delete":{"tags":["AuthorizationCodeDefinitions"],"summary":"Deletes the category from the authorization code definition.","description":"No Documentation Found.","operationId":"AuthorizationCodeDefinitions_RemoveCategoryFromDefinition","consumes":[],"produces":[],"parameters":[{"name":"ID","in":"path","required":true,"type":"string"},{"name":"categoryID","in":"path","description":"A category ID, as a GUID.","required":true,"type":"string"}],"responses":{"204":{"description":"No Content"},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false}},"/api/v2/AuthorizationCodes":{"get":{"tags":["AuthorizationCodes"],"summary":"Get authorization codes.","description":"Additional searches: validationParameters[Name]=Value and dataParameters[Name]=Value. These can be used to search for authorization codes that have been generated using specified values for data or validation parameters.","operationId":"AuthorizationCodes_GetAuthorizationCodes","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"code","in":"query","description":"Optional. If provided, searches for entities with the provided authorization code.","required":false,"type":"string"},{"name":"limit","in":"query","description":"Optional. The page limit.  If not specified, the default page limit is 10.","required":false,"type":"integer","format":"int32"},{"name":"offset","in":"query","description":"Optional. The page offset.  If not specified, the default page offset is 0.","required":false,"type":"integer","format":"int32"},{"name":"definitionID","in":"query","description":"Optional. If specified, filters codes by definition id.","required":false,"type":"string"},{"name":"createdByUserID","in":"query","description":"Optional. If specified, filters codes to those created by the given User ID.","required":false,"type":"integer","format":"int32"},{"name":"deletedByUserID","in":"query","description":"Optional. If specified, filters codes to those deleted by the given User ID.","required":false,"type":"integer","format":"int32"},{"name":"includeDeleted","in":"query","description":"Optional. Whether to include deleted codes. 'False' by default.","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/API.IPagedResponse[AuthorizationCodes.Shared.Models.AuthorizationCode]"}},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false},"post":{"tags":["AuthorizationCodes"],"summary":"Generates an authorization code using the provided definition and parameters.","description":"No Documentation Found.","operationId":"AuthorizationCodes_PostAuthorizationCode","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"authorizationCode","in":"body","description":"The model from which to generate an authorization code.","required":true,"schema":{"$ref":"#/definitions/AuthorizationCodes.Shared.Models.AuthorizationCode"}}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false}},"/api/v2/AuthorizationCodes/{id}":{"get":{"tags":["AuthorizationCodes"],"summary":"Get an authorization code by its ID.","description":"No Documentation Found.","operationId":"AuthorizationCodes_GetAuthorizationCode","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"The id of the authorization code.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AuthorizationCodes.Shared.Models.AuthorizationCode"}},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false},"put":{"tags":["AuthorizationCodes"],"summary":"Update an authorization code.","description":"No Documentation Found.","operationId":"AuthorizationCodes_PutAuthorizationCode","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":[],"parameters":[{"name":"id","in":"path","description":"The id of the authorization code.","required":true,"type":"integer","format":"int32"},{"name":"authorizationCode","in":"body","description":"The model from which to update an authorization code.","required":true,"schema":{"$ref":"#/definitions/AuthorizationCodes.Shared.Models.AuthorizationCode"}}],"responses":{"204":{"description":"No Content"},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false},"delete":{"tags":["AuthorizationCodes"],"summary":"Hide an authorization code.","description":"No Documentation Found.","operationId":"AuthorizationCodes_DeleteAuthorizationCode","consumes":[],"produces":[],"parameters":[{"name":"id","in":"path","description":"The id of the authorization code.","required":true,"type":"integer","format":"int32"}],"responses":{"204":{"description":"No Content"},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false}},"/api/v2/AuthorizationCodes/{id}/Validate":{"get":{"tags":["AuthorizationCodes"],"summary":"No Documentation Found.","description":"No Documentation Found.","operationId":"AuthorizationCodes_ValidateAuthorizationCode","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AuthorizationCodes.Shared.Models.CodeValidationModel"}},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false}},"/api/v2/AuthorizationCodes/{id}/ContactInformation":{"get":{"tags":["AuthorizationCodes"],"summary":"Get contact information for an authorization code.","description":"No Documentation Found.","operationId":"AuthorizationCodes_GetContactInformation","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"The id of the authorization code.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AuthorizationCodes.Shared.Models.AuthorizationContactInformation"}},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false}},"/api/v2/AuthorizationContactInformation":{"get":{"tags":["AuthorizationContactInformation"],"summary":"Get contact information for authorization codes.","description":"No Documentation Found.","operationId":"AuthorizationContactInformation_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"limit","in":"query","description":"Optional. The page limit.  If not specified, the default page limit is 10.","required":false,"type":"integer","format":"int32"},{"name":"offset","in":"query","description":"Optional. The page offset.  If not specified, the default page offset is 0.","required":false,"type":"integer","format":"int32"},{"name":"authorizationCode","in":"query","description":"Optional. Search by authorization code.","required":false,"type":"string"},{"name":"afterDate","in":"query","description":"Optional. Include only data for authorization codes created after a provided date.","required":false,"type":"string","format":"date-time"},{"name":"beforeDate","in":"query","description":"Optional. Include only data for authorization codes created before a provided date.","required":false,"type":"string","format":"date-time"},{"name":"dealerCode","in":"query","description":"Optional. Search by dealer code.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/API.IPagedResponse[AuthorizationCodes.Shared.Models.AuthorizationContactInformation]"}},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false},"post":{"tags":["AuthorizationContactInformation"],"summary":"Add contact information for authorization code.","description":"No Documentation Found.","operationId":"AuthorizationContactInformation_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"contactInfo","in":"body","description":"A contact information.","required":true,"schema":{"$ref":"#/definitions/AuthorizationCodes.Shared.Models.AuthorizationContactInformation"}}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false}},"/api/v2/Brands":{"get":{"tags":["Brands"],"summary":"Gets a list of Brands.","description":"No Documentation Found.","operationId":"Brands_Brands","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"string"}}},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false}},"/api/v2/Bundles":{"get":{"tags":["Bundles"],"summary":"Get the list of bundles.","description":"No Documentation Found.","operationId":"Bundles_GetBundles","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"UpdateGroupID","in":"query","description":"Optional. Filter by UpdateGroup ID.","required":false,"type":"string"},{"name":"Active","in":"query","description":"Optional. Filter by active status.","required":false,"type":"boolean"},{"name":"limit","in":"query","description":"Optional. The page limit. The default page limit is 10.","required":false,"type":"integer","format":"int32"},{"name":"offset","in":"query","description":"Optional. The page offset. The default page offset is 0.","required":false,"type":"integer","format":"int32"},{"name":"BundleNumber","in":"query","description":"Optional. If provided, filters by BundleNumber.","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/API.PagedResponse[UpdateSystem.Models.Bundle]"}},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false},"post":{"tags":["Bundles"],"summary":"Add a Bundle to the Update System.","description":"No Documentation Found.","operationId":"Bundles_PostBundle","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"bundle","in":"body","description":"The bundle to add","required":true,"schema":{"$ref":"#/definitions/UpdateSystem.Models.Bundle"}},{"name":"cloneFromBundleID","in":"query","description":"Optional. A BundleID from which to clone PackageTypetoBundleIDs.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false}},"/api/v2/Bundles/{ID}":{"get":{"tags":["Bundles"],"summary":"Get a specific Bundle by ID.","description":"No Documentation Found.","operationId":"Bundles_GetBundle","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"ID","in":"path","description":"The Bundle ID","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UpdateSystem.Models.Bundle"}},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false},"put":{"tags":["Bundles"],"summary":"Modify a Bundle in the Update System.","description":"No Documentation Found.","operationId":"Bundles_PutBundle","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":[],"parameters":[{"name":"ID","in":"path","description":"The unique ID of the Bundle","required":true,"type":"string"},{"name":"bundle","in":"body","description":"The bundle to modify","required":true,"schema":{"$ref":"#/definitions/UpdateSystem.Models.Bundle"}}],"responses":{"204":{"description":"No Content"},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false},"delete":{"tags":["Bundles"],"summary":"Delete a Bundle.","description":"No Documentation Found.","operationId":"Bundles_DeleteBundle","consumes":[],"produces":[],"parameters":[{"name":"ID","in":"path","description":"The Bundle ID to Delete","required":true,"type":"string"}],"responses":{"204":{"description":"No Content"},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false}},"/api/v2/Clients":{"get":{"tags":["Clients"],"summary":"Get a List of Clients in the Update System.","description":"No Documentation Found.","operationId":"Clients_Get","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"Tag","in":"query","description":"Optional. Filter clients by Tag. Wildcards are supported (*).","required":false,"type":"string"},{"name":"limit","in":"query","description":"Optional. The page limit. The default page limit is 10.","required":false,"type":"integer","format":"int32"},{"name":"offset","in":"query","description":"Optional. The page offset. The default page offset is 0.","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/API.PagedResponse[UpdateSystem.Models.Client]"}},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false}},"/api/v2/Clients/{ID}":{"get":{"tags":["Clients"],"summary":"Get a Client in the Update System.","description":"No Documentation Found.","operationId":"Clients_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"ID","in":"path","description":"The Client ID","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UpdateSystem.Models.Client"}},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false},"put":{"tags":["Clients"],"summary":"Update a Client.","description":"No Documentation Found.","operationId":"Clients_Put","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":[],"parameters":[{"name":"ID","in":"path","description":"The Client ID","required":true,"type":"string"},{"name":"client","in":"body","description":"Updated Client Object.","required":true,"schema":{"$ref":"#/definitions/UpdateSystem.Models.Client"}}],"responses":{"204":{"description":"No Content"},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false}},"/api/v2/Clients/{ID}/UpdateGroupSubscriptions":{"get":{"tags":["Clients"],"summary":"Get a Client's Current Update Group Subscriptions","description":"No Documentation Found.","operationId":"Clients_GetSubscriptions","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"ID","in":"path","description":"The Client ID","required":true,"type":"string"},{"name":"UpdateGroupID","in":"query","description":"Optional. Filter by Update Group.","required":false,"type":"string"},{"name":"limit","in":"query","description":"Optional. The page limit. The default page limit is 10.","required":false,"type":"integer","format":"int32"},{"name":"offset","in":"query","description":"Optional. The page offset. The default page offset is 0.","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/API.PagedResponse[UpdateSystem.Models.UpdateGroupSubscription]"}},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false}},"/api/v2/Clients/{ID}/AvailableUpdateGroupSubscriptions":{"get":{"tags":["Clients"],"summary":"Get a Client's Available Update Group Subscriptions","description":"No Documentation Found.","operationId":"Clients_GetAvailableSubscriptions","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"ID","in":"path","description":"The Client ID","required":true,"type":"string"},{"name":"UpdateGroupID","in":"query","description":"Optional. Filter by Update Group.","required":false,"type":"string"},{"name":"limit","in":"query","description":"Optional. The page limit. The default page limit is 10.","required":false,"type":"integer","format":"int32"},{"name":"offset","in":"query","description":"Optional. The page offset. The default page offset is 0.","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/API.PagedResponse[UpdateSystem.Models.AvailableUpdateGroupSubscription]"}},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false}},"/api/v2/ContentDefinitions":{"get":{"tags":["ContentDefinitions"],"summary":"Get ContentDefinitions","description":"Gets a collection of ContentDefinitions. When successful, the response is a PagedResponse of ContentDefinitions.\r\n            If unsuccessful, an appropriate ApiError is returned.","operationId":"ContentDefinitions_GetContentDefinitions","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"limit","in":"query","description":"Optional. The page limit.  If not specified, the default page limit is 10.","required":false,"type":"integer","format":"int32"},{"name":"offset","in":"query","description":"Optional. The page offset.  If not specified, the default page offset is 0.","required":false,"type":"integer","format":"int32"},{"name":"userID","in":"query","description":"Optional. Filter by UserID.","required":false,"type":"integer","format":"int32"},{"name":"includeAttributes","in":"query","description":"Names of Attributes to include when retrieving this definition. This should be a comma-separated list. If not provided, Attributes are not included. If '*', all Attributes are included.","required":false,"type":"string"},{"name":"name","in":"query","description":"Optional. Filter by Name. Supports beginning and ending wildcard (*).","required":false,"type":"string"},{"name":"typeID","in":"query","description":"Optional. Filter by TypeID.","required":false,"type":"integer","format":"int32"},{"name":"packageTypeID","in":"query","description":"Optional. Filter by PackageTypeID.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/API.PagedResponse[ContentSubmission.Shared.BusinessEntities.ContentDefinition]"}},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false},"post":{"tags":["ContentDefinitions"],"summary":"Create a ContentDefinition","description":"Creates a ContentDefinition.  The body of the POST is the ContentDefinition to create.\r\n            The ContentDefinitionID will be assigned on creation of the Job.  When successful, the response\r\n            is the JobID.  If unsuccessful, an appropriate ApiError is returned.","operationId":"ContentDefinitions_PostContentDefinition","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"contentDefinition","in":"body","description":"The ContentDefinition to create.","required":true,"schema":{"$ref":"#/definitions/ContentSubmission.Shared.BusinessEntities.ContentDefinition"}}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false}},"/api/v2/ContentDefinitions/{contentDefinitionID}":{"get":{"tags":["ContentDefinitions"],"summary":"Get a ContentDefinition by ID","description":"Gets a ContentDefinition by ID. When successful, the response is the requested ContentDefinition.\r\n            If unsuccessful, an appropriate ApiError is returned.","operationId":"ContentDefinitions_GetContentDefinition","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"contentDefinitionID","in":"path","description":"The ID of the ContentDefinition to get.","required":true,"type":"integer","format":"int32"},{"name":"includeAttributes","in":"query","description":"Names of Attributes to include when retrieving this definition. This should be a comma-separated list. If not provided, Attributes are not included. If '*', all Attributes are included.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ContentSubmission.Shared.BusinessEntities.ContentDefinition"}},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false},"put":{"tags":["ContentDefinitions"],"summary":"Update a ContentDefinition","description":"Updates a ContentDefinition.  The body of the PUT is the updated ContentDefinition.  \r\n            When successful, the response is empty.  If unsuccessful, an appropriate ApiError is returned.","operationId":"ContentDefinitions_PutContentDefinition","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":[],"parameters":[{"name":"contentDefinitionID","in":"path","description":"The ID of the ContentDefinition to update","required":true,"type":"integer","format":"int32"},{"name":"contentDefinition","in":"body","description":"The updated ContentDefinition","required":true,"schema":{"$ref":"#/definitions/ContentSubmission.Shared.BusinessEntities.ContentDefinition"}}],"responses":{"204":{"description":"No Content"},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false},"delete":{"tags":["ContentDefinitions"],"summary":"Delete a ContentDefinition","description":"Deletes an ContentDefinition. When successful, the response is empty.  If unsuccessful, an appropriate\r\n            ApiError is returned.","operationId":"ContentDefinitions_DeleteContentDefinition","consumes":[],"produces":[],"parameters":[{"name":"contentDefinitionID","in":"path","description":"The ID of the ContentDefinition to delete","required":true,"type":"integer","format":"int32"}],"responses":{"204":{"description":"No Content"},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false}},"/api/v2/ContentDefinitions/{contentDefinitionID}/Attributes":{"get":{"tags":["ContentDefinitions"],"summary":"Get Attributes for a ContentDefinition","description":"No Documentation Found.","operationId":"ContentDefinitions_GetContentDefinitionAttributes","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"contentDefinitionID","in":"path","description":"The ID of the ContentDefinition.","required":true,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"Optional. The page limit.  If not specified, the default page limit is 10.","required":false,"type":"integer","format":"int32"},{"name":"offset","in":"query","description":"Optional. The page offset.  If not specified, the default page offset is 0.","required":false,"type":"integer","format":"int32"},{"name":"name","in":"query","description":"Optional. Filter the attributes by Name.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/API.PagedResponse[ContentSubmission.Shared.BusinessEntities.ContentDefinitionAttribute]"}},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false},"post":{"tags":["ContentDefinitions"],"summary":"Add an Attribute to a ContentDefinition","description":"No Documentation Found.","operationId":"ContentDefinitions_PostContentDefinitionAttribute","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"contentDefinitionID","in":"path","description":"The ID of the ContentDefinition","required":true,"type":"integer","format":"int32"},{"name":"contentDefinitionAttribute","in":"body","description":"The Attribute to add.","required":true,"schema":{"$ref":"#/definitions/ContentSubmission.Shared.BusinessEntities.ContentDefinitionAttribute"}}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false}},"/api/v2/ContentDefinitions/{contentDefinitionID}/Attributes/Batch":{"post":{"tags":["ContentDefinitions"],"summary":"No Documentation Found.","description":"No Documentation Found.","operationId":"ContentDefinitions_PostContentDefinitionAttributes","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":[],"parameters":[{"name":"contentDefinitionID","in":"path","required":true,"type":"integer","format":"int32"},{"name":"contentDefinitionAttributes","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/ContentSubmission.Shared.BusinessEntities.ContentDefinitionAttribute"}}}],"responses":{"204":{"description":"No Content"},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false}},"/api/v2/ContentDefinitionAttributes/{contentDefinitionAttributeID}":{"put":{"tags":["ContentDefinitions"],"summary":"Update an Attribute for a ContentDefinition","description":"No Documentation Found.","operationId":"ContentDefinitions_PutContentDefinitionAttributeAsync","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":[],"parameters":[{"name":"contentDefinitionAttributeID","in":"path","description":"The ID of the Attribute to update.","required":true,"type":"integer","format":"int32"},{"name":"contentDefinitionAttribute","in":"body","description":"The Attribute to update.","required":true,"schema":{"$ref":"#/definitions/ContentSubmission.Shared.BusinessEntities.ContentDefinitionAttribute"}}],"responses":{"204":{"description":"No Content"},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false},"delete":{"tags":["ContentDefinitions"],"summary":"Remove an Attribute from a ContentDefinition","description":"No Documentation Found.","operationId":"ContentDefinitions_DeleteContentDefinitionAttribute","consumes":[],"produces":[],"parameters":[{"name":"contentDefinitionAttributeID","in":"path","description":"The ID of the Attribute to remove.","required":true,"type":"integer","format":"int32"}],"responses":{"204":{"description":"No Content"},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false}},"/api/v2/ContentDefinitionAttributes/Batch":{"put":{"tags":["ContentDefinitions"],"summary":"No Documentation Found.","description":"No Documentation Found.","operationId":"ContentDefinitions_PutContentDefinitionAttributes","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":[],"parameters":[{"name":"contentDefinitionAttributes","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/ContentSubmission.Shared.BusinessEntities.ContentDefinitionAttribute"}}}],"responses":{"204":{"description":"No Content"},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false}},"/api/v2/ContentReleases":{"get":{"tags":["ContentRelease"],"summary":"Get ContentReleaseVersion","description":"Gets a collection of ContentReleaseVersion. When successful, the response is a PagedResponse of ContentReleaseVersion.\r\n            If unsuccessful, an appropriate ApiError is returned.","operationId":"ContentRelease_GetContentReleaseVersion","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"limit","in":"query","description":"Optional. The page limit.  If not specified, the default page limit is 10.","required":false,"type":"integer","format":"int32"},{"name":"offset","in":"query","description":"Optional. The page offset.  If not specified, the default page offset is 0.","required":false,"type":"integer","format":"int32"},{"name":"deleted","in":"query","description":"Optional. Filter by deleted.","required":false,"type":"boolean"},{"name":"releaseID","in":"query","description":"Optional. Filter by releaseID.","required":false,"type":"integer","format":"int32"},{"name":"userId","in":"query","description":"Optional. Filter by UserID.","required":false,"type":"integer","format":"int32"},{"name":"contentDefinitionID","in":"query","description":"Optional. Filter by ContentDefinitionID.","required":false,"type":"integer","format":"int32"},{"name":"version","in":"query","description":"Optional. Filter by Version.","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/API.PagedResponse[ContentSubmission.Shared.BusinessEntities.ContentReleaseVersion]"}},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false},"post":{"tags":["ContentRelease"],"summary":"Create a ContentReleaseVersion","description":"Creates a ContentReleaseVersion.  The body of the POST is the ContentReleaseVersion to create.\r\n            The ContentReleaseId will be assigned on creation of the Job.  When successful, the response\r\n            is the contentReleaseId.  If unsuccessful, an appropriate ApiError is returned.","operationId":"ContentRelease_PostContentRelease","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"contentReleaseVersion","in":"body","description":"The ContentReleaseVersion to create.","required":true,"schema":{"$ref":"#/definitions/ContentSubmission.Shared.BusinessEntities.ContentReleaseVersion"}}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false}},"/api/v2/ContentReleases/{ContentReleaseId}":{"get":{"tags":["ContentRelease"],"summary":"Get a Content Release Version by ID","description":"Gets a ContentReleaseVersion by ID. When successful, the response is the requested ContentReleaseVersion.\r\n            If unsuccessful, an appropriate ApiError is returned.","operationId":"ContentRelease_GetContentReleaseVersion","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"ContentReleaseId","in":"path","description":"The ID of the ContentReleaseVersion to get.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ContentSubmission.Shared.BusinessEntities.ContentReleaseVersion"}},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false},"put":{"tags":["ContentRelease"],"summary":"Update a ContentReleaseVersion","description":"Updates a ContentReleaseVersion.  The body of the PUT is the updated ContentReleaseVersion.  \r\n            When successful, the response is empty.  If unsuccessful, an appropriate ApiError is returned.","operationId":"ContentRelease_PutContentDefinition","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":[],"parameters":[{"name":"ContentReleaseId","in":"path","description":"The ID of the ContentReleaseVersion to update","required":true,"type":"integer","format":"int32"},{"name":"contentReleaseVersion","in":"body","description":"The updated ContentReleaseVersion","required":true,"schema":{"$ref":"#/definitions/ContentSubmission.Shared.BusinessEntities.ContentReleaseVersion"}}],"responses":{"204":{"description":"No Content"},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false},"delete":{"tags":["ContentRelease"],"summary":"Delete a ContentReleaseVersion","description":"Deletes an ContentReleaseVersion. When successful, the response is empty.  If unsuccessful, an appropriate\r\n            ApiError is returned.","operationId":"ContentRelease_DeleteContentReleaseVersionn","consumes":[],"produces":[],"parameters":[{"name":"ContentReleaseId","in":"path","description":"The ID of the ContentReleaseVersion to delete","required":true,"type":"integer","format":"int32"}],"responses":{"204":{"description":"No Content"},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false}},"/api/v2/ContentSubmissions":{"get":{"tags":["ContentSubmissions"],"summary":"Get ContentSubmissions","description":"Gets a collection of ContentSubmissions. When successful, the response is a PagedResponse of ContentSubmissions. Additional searches: attributes[Name]=Value. This can be used to search for submissions that have the specified values for attributes. Beginning and ending wildcard (*) supported for value.\r\n            If unsuccessful, an appropriate ApiError is returned.","operationId":"ContentSubmissions_GetContentSubmissions","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"limit","in":"query","description":"Optional. The page limit.  If not specified, the default page limit is 10.","required":false,"type":"integer","format":"int32"},{"name":"offset","in":"query","description":"Optional. The page offset.  If not specified, the default page offset is 0.","required":false,"type":"integer","format":"int32"},{"name":"userID","in":"query","description":"Optional. Filter by UserID.","required":false,"type":"integer","format":"int32"},{"name":"contentDefinitionID","in":"query","description":"Optional. Filter by ContentDefinitionID","required":false,"type":"integer","format":"int32"},{"name":"includeAttributes","in":"query","description":"Names of Attributes to include when retrieving this submission. This should be a comma-separated list. If not provided, Attributes are not included. If '*', all Attributes are included.","required":false,"type":"string"},{"name":"releaseID","in":"query","description":"Optional. Filter the submissions by whether they are part of the Release with the specified Release ID.","required":false,"type":"integer","format":"int32"},{"name":"typeID","in":"query","description":"Optional. Filter submissions by their ContentDefinition's Type ID.","required":false,"type":"integer","format":"int32"},{"name":"version","in":"query","description":"Optional. Filter submissions by their Version.","required":false,"type":"integer","format":"int32"},{"name":"includeDefinition","in":"query","description":"Optional. If true, includes the ContentDefinition for each submission.","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/API.PagedResponse[ContentSubmission.Shared.BusinessEntities.ContentSubmission]"}},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false},"post":{"tags":["ContentSubmissions"],"summary":"Create a ContentSubmission","description":"Creates a ContentSubmission.  The body of the POST is the ContentSubmission to create.\r\n            The ContentSubmissionID will be assigned on creation of the Job.  When successful, the response\r\n            is the ContentSubmissionID.  If unsuccessful, an appropriate ApiError is returned.","operationId":"ContentSubmissions_PostContentSubmission","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"contentSubmission","in":"body","description":"The ContentSubmission to create.","required":true,"schema":{"$ref":"#/definitions/ContentSubmission.Shared.BusinessEntities.ContentSubmission"}}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false}},"/api/v2/ContentSubmissions/{contentSubmissionID}":{"get":{"tags":["ContentSubmissions"],"summary":"Get a ContentSubmission by ID","description":"Gets a ContentSubmission by ID. When successful, the response is the requested ContentSubmission.\r\n            If unsuccessful, an appropriate ApiError is returned.","operationId":"ContentSubmissions_GetContentSubmission","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"contentSubmissionID","in":"path","description":"The ID of the ContentSubmission to get.","required":true,"type":"integer","format":"int32"},{"name":"includeAttributes","in":"query","description":"Names of Attributes to include when retrieving this submission. This should be a comma-separated list.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ContentSubmission.Shared.BusinessEntities.ContentSubmission"}},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false},"put":{"tags":["ContentSubmissions"],"summary":"Update a ContentSubmission","description":"Updates a ContentSubmission.  The body of the PUT is the updated ContentSubmission.  \r\n            When successful, the response is empty.  If unsuccessful, an appropriate ApiError is returned.","operationId":"ContentSubmissions_PutContentSubmission","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":[],"parameters":[{"name":"contentSubmissionID","in":"path","description":"The ID of the ContentSubmission to update","required":true,"type":"integer","format":"int32"},{"name":"contentSubmission","in":"body","description":"The updated ContentSubmission","required":true,"schema":{"$ref":"#/definitions/ContentSubmission.Shared.BusinessEntities.ContentSubmission"}}],"responses":{"204":{"description":"No Content"},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false},"delete":{"tags":["ContentSubmissions"],"summary":"Delete a ContentSubmission","description":"Deletes an ContentSubmission. When successful, the response is empty.  If unsuccessful, an appropriate\r\n            ApiError is returned.","operationId":"ContentSubmissions_DeleteContentSubmission","consumes":[],"produces":[],"parameters":[{"name":"contentSubmissionID","in":"path","description":"The ID of the ContentSubmission to delete","required":true,"type":"integer","format":"int32"}],"responses":{"204":{"description":"No Content"},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false}},"/api/v2/ContentSubmissions/{contentSubmissionID}/Status":{"get":{"tags":["ContentSubmissions"],"summary":"Get the status of a ContentSubmission","description":"No Documentation Found.","operationId":"ContentSubmissions_GetContentSubmissionStatus","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"contentSubmissionID","in":"path","description":"The ID of the ContentSubmission to get.","required":true,"type":"integer","format":"int32"},{"name":"includeActivityRunDetails","in":"query","description":"True to include all status details if JobRun. Defaults to false","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BuildSystem.Shared.Interfaces.IJobRun"}},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false}},"/api/v2/ContentSubmissions/{contentSubmissionID}/Attributes":{"get":{"tags":["ContentSubmissions"],"summary":"Get Attributes for a ContentSubmission","description":"No Documentation Found.","operationId":"ContentSubmissions_GetContentSubmissionAttributes","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"contentSubmissionID","in":"path","description":"The ID of the ContentSubmission.","required":true,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"Optional. The page limit.  If not specified, the default page limit is 10.","required":false,"type":"integer","format":"int32"},{"name":"offset","in":"query","description":"Optional. The page offset.  If not specified, the default page offset is 0.","required":false,"type":"integer","format":"int32"},{"name":"name","in":"query","description":"Optional. Filter the attributes by Name.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/API.PagedResponse[ContentSubmission.Shared.BusinessEntities.ContentSubmissionAttribute]"}},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false},"post":{"tags":["ContentSubmissions"],"summary":"Add an Attribute to a ContentSubmission","description":"No Documentation Found.","operationId":"ContentSubmissions_PostContentSubmissionAttribute","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"contentSubmissionID","in":"path","description":"The ID of the ContentSubmission","required":true,"type":"integer","format":"int32"},{"name":"contentSubmissionAttribute","in":"body","description":"The Attribute to add.","required":true,"schema":{"$ref":"#/definitions/ContentSubmission.Shared.BusinessEntities.ContentSubmissionAttribute"}}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false}},"/api/v2/ContentSubmissions/{contentSubmissionID}/Attributes/Batch":{"post":{"tags":["ContentSubmissions"],"summary":"No Documentation Found.","description":"No Documentation Found.","operationId":"ContentSubmissions_PostContentSubmissionAttributes","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":[],"parameters":[{"name":"contentSubmissionID","in":"path","required":true,"type":"integer","format":"int32"},{"name":"contentSubmissionAttributes","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/ContentSubmission.Shared.BusinessEntities.ContentSubmissionAttribute"}}}],"responses":{"204":{"description":"No Content"},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false}},"/api/v2/ContentSubmissionAttributes/{contentSubmissionAttributeID}":{"put":{"tags":["ContentSubmissions"],"summary":"Update an Attribute for a ContentSubmission","description":"No Documentation Found.","operationId":"ContentSubmissions_PutContentSubmissionAttributeAsync","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":[],"parameters":[{"name":"contentSubmissionAttributeID","in":"path","description":"The ID of the Attribute to update.","required":true,"type":"integer","format":"int32"},{"name":"contentSubmissionAttribute","in":"body","description":"The Attribute to update.","required":true,"schema":{"$ref":"#/definitions/ContentSubmission.Shared.BusinessEntities.ContentSubmissionAttribute"}}],"responses":{"204":{"description":"No Content"},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false},"delete":{"tags":["ContentSubmissions"],"summary":"Remove an Attribute from a ContentSubmission","description":"No Documentation Found.","operationId":"ContentSubmissions_DeleteContentSubmissionAttribute","consumes":[],"produces":[],"parameters":[{"name":"contentSubmissionAttributeID","in":"path","description":"The ID of the Attribute to remove.","required":true,"type":"integer","format":"int32"}],"responses":{"204":{"description":"No Content"},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false}},"/api/v2/ContentSubmissionAttributes/Batch":{"put":{"tags":["ContentSubmissions"],"summary":"No Documentation Found.","description":"No Documentation Found.","operationId":"ContentSubmissions_PutContentSubmissionAttributes","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":[],"parameters":[{"name":"contentSubmissionAttributes","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/ContentSubmission.Shared.BusinessEntities.ContentSubmissionAttribute"}}}],"responses":{"204":{"description":"No Content"},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false}},"/api/v2/ContentSubmissionTypes":{"get":{"tags":["ContentSubmissionTypes"],"summary":"Returns available Content Submission Types.","description":"No Documentation Found.","operationId":"ContentSubmissionTypes_GetContentSubmissionTypes","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"enabled","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ContentSubmission.Shared.BusinessEntities.ContentSubmissionType"}}},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false},"post":{"tags":["ContentSubmissionTypes"],"summary":"Add a Content Submission Type","description":"No Documentation Found.","operationId":"ContentSubmissionTypes_PostContentSubmissionType","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"contentSubmissionType","in":"body","description":"The Content Submission Type","required":true,"schema":{"$ref":"#/definitions/ContentSubmission.Shared.BusinessEntities.ContentSubmissionType"}}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false}},"/api/v2/ContentSubmissionTypes/{id}":{"get":{"tags":["ContentSubmissionTypes"],"summary":"Retrieves a Content Submission Type by its ID.","description":"No Documentation Found.","operationId":"ContentSubmissionTypes_GetContentSubmissionType","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"The ID of the Content Submission Type","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ContentSubmission.Shared.BusinessEntities.ContentSubmissionType"}},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false},"put":{"tags":["ContentSubmissionTypes"],"summary":"Update a Content Submission Type","description":"No Documentation Found.","operationId":"ContentSubmissionTypes_PutContentSubmissionType","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":[],"parameters":[{"name":"id","in":"path","description":"The ID of the Content Submission Type","required":true,"type":"integer","format":"int32"},{"name":"contentSubmissionType","in":"body","description":"The Content Submission Type","required":true,"schema":{"$ref":"#/definitions/ContentSubmission.Shared.BusinessEntities.ContentSubmissionType"}}],"responses":{"204":{"description":"No Content"},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false},"delete":{"tags":["ContentSubmissionTypes"],"summary":"Remove a Content Submission Type","description":"No Documentation Found.","operationId":"ContentSubmissionTypes_DeleteContentSubmissionType","consumes":[],"produces":[],"parameters":[{"name":"id","in":"path","description":"The ID of the Content Submission Type","required":true,"type":"integer","format":"int32"}],"responses":{"204":{"description":"No Content"},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false}},"/api/v2/DealerByCountry":{"get":{"tags":["DealerByCountry"],"summary":"Get a total count of dealers per country","description":"No Documentation Found.","operationId":"DealerByCountry_GetCountries","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"limit","in":"query","description":"Optional. The page limit. The default page limit is 10.","required":false,"type":"integer","format":"int32"},{"name":"offset","in":"query","description":"Optional. The page offset. The default page offset is 0.","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/API.PagedResponse[DealerDB.Models.DealersPerCountry]"}},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false}},"/api/v2/Dealers/{DealerCode}":{"get":{"tags":["Dealers"],"summary":"Lookup a dealer using a dealer code.","description":"No Documentation Found.","operationId":"Dealers_GetDealerbyDealerCode","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"DealerCode","in":"path","description":"The Dealer Code to Search for","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DealerDB.Models.Dealer"}},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false}},"/api/v2/Dealers":{"get":{"tags":["Dealers"],"summary":"Get a list of dealers.","description":"No Documentation Found.","operationId":"Dealers_GetDealers","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"Brand","in":"query","description":"The brand to filter by.","required":false,"type":"string"},{"name":"ShippingCountry","in":"query","description":"The country to filter by.","required":false,"type":"string"},{"name":"DealerName","in":"query","description":"The partial Dealer Name to filter by. Wildcard supported (*).","required":false,"type":"string"},{"name":"limit","in":"query","description":"Optional. The page limit. The default page limit is 10.","required":false,"type":"integer","format":"int32"},{"name":"offset","in":"query","description":"Optional. The page offset. The default page offset is 0.","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/API.PagedResponse[DealerDB.Models.Dealer]"}},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false}},"/api/v2/Files":{"get":{"tags":["Files"],"summary":"Get a paged response of file metadata.","description":"No Documentation Found.","operationId":"Files_GetFiles","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"includeDeleted","in":"query","description":"Indicates whether to include files marked as removed.","required":false,"type":"boolean"},{"name":"limit","in":"query","description":"Optional. The page limit. The default page limit is 10.","required":false,"type":"integer","format":"int32"},{"name":"offset","in":"query","description":"Optional. The page offset. The default page offset is 0.","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/API.IPagedResponse[GlobalResources.Shared.Models.FileDownload]"}},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false},"post":{"tags":["Files"],"summary":"Create the metadata for a file before uploading. The State of the File should be 'Created'.","description":"No Documentation Found.","operationId":"Files_PostFile","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"file","in":"body","description":"The file's metadata.","required":true,"schema":{"$ref":"#/definitions/GlobalResources.Shared.Models.FileDownload"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false}},"/api/v2/Files/{ID}":{"get":{"tags":["Files"],"summary":"Gets a file's metadata.","description":"No Documentation Found.","operationId":"Files_GetFile","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"ID","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GlobalResources.Shared.Models.FileDownload"}},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false},"put":{"tags":["Files"],"summary":"Update the metadata for a file. Size may not be modified by the client.","description":"Update the metadata for a file. Size may not be modified by the client. \r\n                Set status to 'Available' to publish a file. The file must be uploaded.\r\n                Set status to 'Created' to reset a file's contents and re-upload. \r\n                A file may only be 'Removed' by the DELETE method.","operationId":"Files_PutFile","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":[],"parameters":[{"name":"ID","in":"path","description":"The file's id","required":true,"type":"string"},{"name":"file","in":"body","description":"The file's metadata","required":true,"schema":{"$ref":"#/definitions/GlobalResources.Shared.Models.FileDownload"}}],"responses":{"204":{"description":"No Content"},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false},"delete":{"tags":["Files"],"summary":"Mark a file as 'Removed'. Disables download of the file and hides metadata from GET all method","description":"No Documentation Found.","operationId":"Files_DeleteFile","consumes":[],"produces":[],"parameters":[{"name":"ID","in":"path","description":"The file's id.","required":true,"type":"string"}],"responses":{"204":{"description":"No Content"},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false}},"/api/v2/Files/{ID}/FileContents":{"get":{"tags":["Files"],"summary":"Download the contents of a file. The current State of the File should be 'Available'.","description":"No Documentation Found.","operationId":"Files_GetFileContents","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"ID","in":"path","description":"The file's metadata.","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/System.Object"}},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false},"put":{"tags":["Files"],"summary":"Upload the contents of a file. The current State of the File should be 'Created'.","description":"No Documentation Found.","operationId":"Files_PutFileContents","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"ID","in":"path","description":"The file's metadata.","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/System.Object"}},"default":{"description":"API Error Response","schema":{"$ref":"#/definitions/API.Models.ApiError"}}},"deprecated":false}},"/api/v2/FileUploadIndexFields":{"get":
[...]
